* { box-sizing: border-box; }

body{
  background: #25A9FC;
}
.box{
  position:relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 700px;
  height: 800px;
  background: none;
}
.head{
  position: absolute;
  top: 130px;
  left: 700px;
  width: 400px;
  height: 550px;
  background: #B47618;
  border-radius: 45%;
  z-index: 4;

}


.head-copy{
  position: absolute;
  top: 100px;
  left: 700px;
  width: 400px;
  height: 60px;
  background: black;
  border-radius: 50px;
  z-index: 4;

}

.hat-black{
  position: absolute;
  top: 20px;
  left: 800px;
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50px;
}


.ear-pink{
  position: absolute;
  top: 250px;
  left: 620px;
  width: 150px;
  height: 200px;
  background: #f5b7d2;
  border-radius: 50%;
}


.ear-pink1{
  position: absolute;
  top: 250px;
  left: 1030px;
  width: 150px;
  height: 200px;
  background: #f5b7d2;
  border-radius: 50%;
}

.eye1{
  position: absolute;
  top: -00px;
  left: -255px;
  width: 130px;
  height: 160px;
  border: 1px black solid;
  background: white;
  border-radius: 50%;
  z-index: 4;
}

.eye2{
  position: absolute;
  top: -00px;
  left: 128px;
  width: 130px;
  height: 160px;
  border: 1px black solid;
  background: white;
  border-radius: 50%;
  z-index: 4;
}


.left-pupil{
  position: relative;
  top: 50px;
  left: -90px;
  width: 40px;
  height: 70px;
  background: black;
  border-radius: 50%;
}


.right-pupil{
  position: relative;
  top: 0px;
  left: 130px;
  width: 40px;
  height: 70px;
  background: black;
  border-radius: 50%;
}

.nose{
  position: absolute;
  top: 50px;
  left: -125px;
  width: 180px;
  height: 160px;
  border: 1px black solid;
  background: red;
  border-radius: 50%;
  z-index: 4;
}


.semi-circulo {
     position: relative;
     top: 150px;
     left: -135px;
     width: 210px;
     height: 100px;
     background: black;
     -moz-border-radius: 200px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 100px 100px 0 0;
}
